* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.clear {
    clear: left;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.top-wrapper {
    padding: 180px 0 100px 0;
    color: white;
    background-color: #F35D8A;

    text-align: center;
}

.top-wrapper h1 {
    opacity: 0.8;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border: 4px double white;
}

.btn:hover {
    opacity: 1;
}

.button-wrap {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* header */

header {
    height: 65px;
    width: 100%;
    background-color: #d1003f;
    opacity: 0.9;
    position: fixed;
    top: 0;
    color: white;
    z-index: 10;
}

.logo {
    width: 124px;
    margin-top: 20px;
    opacity: 0.9;
    cursor: pointer;
}

.header-left {
    float: left;
}

.menu-icon {
    display: none;
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
    visibility: hidden;
}
.header-right {
    float: right;
    margin-right: -25px;
}

.header-right a {
    line-height: 65px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    color: white;
    display: block;
    float: left;
    background-color: #d1003f;
    opacity: 1;
    transition: all 0.5s;
}

.header-right a:hover {
    opacity: 1;
    background-color: #F35D8A;
}

/* product */

.product-wrapper {
    
    padding-bottom: 80px;
    background-color: #f7f7f7;
    text-align: center;
}

.heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
}

.product {
    float: left;
    width: 25%;
}

.product-icon {
    cursor: pointer;
}

.txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #b3aeb5;
    cursor: pointer;
}


/* message  */

.heading h3 {
    font-weight: normal;
}

.message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
}

.btn-message {
    background-color: #F35D8A;
    padding: 15px 40px;
    cursor: pointer;
    box-shadow: 0 7px #f30049;
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border: 4px;
}

.btn-message:active {
    box-shadow: none;
    position: relative;
    top: 7px;
}

.btn-message:hover {
    opacity: 1;
}

.form-size {
    height: 25px;
    width: 240px;
}


/* footer  */

footer{
    
    bottom: 0;
    left: 0;
    right: 0;
    background: #F35D8A;
    height: auto;
    
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 35px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    
    
    margin: 5px;
    margin-left: -50px;
}
.socials li{
    margin: 15px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 25px;
    transition: color .4s ease;

}
.socials a:hover i{
    color: #f30049;
}

.footer-bottom{
    background: #f30049;
    
    padding: 5px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
